UE-Game/EscapeRoomChallenge/Intermediate/CachedAssetRegistry_0.bin
UE-Game/EscapeRoomChallenge/Intermediate/CachedAssetRegistryDiscovery.bin
UE-Game/EscapeRoomChallenge/Intermediate/ReimportCache/3688439234.bin
UE-Game/EscapeRoomChallenge/Saved/Autosaves/PackageRestoreData.json
UE-Game/EscapeRoomChallenge/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
UE-Game/EscapeRoomChallenge/Saved/Logs/EscapeRoomChallenge.log
